<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="CMISStoreProvider" class="org.jahia.services.content.impl.cmis.CMISContentStoreProvider" parent="AbstractJCRStoreProvider" depends-on="DefaulJCRStoreProvider">
        <property name="key" value="cmis"/>
        <property name="root" value="file:///"/>
        <!--property name="rmibind" value="cmis"/-->
        <property name="mountPoint" value="/cmis"/>
        <property name="parameters">
            <map>
                <!--entry key="org.apache.chemistry.opencmis.session.repository.id" value="test"/-->
                <entry key="org.apache.chemistry.opencmis.user" value="test"/>
                <entry key="org.apache.chemistry.opencmis.password" value="test"/>
                <entry key="org.apache.chemistry.opencmis.binding.spi.type" value="atompub"/>
                <entry key="org.apache.chemistry.opencmis.binding.atompub.url" value="http://localhost:9080/opencmis-server/atom"/>
            </map>
        </property>
        <property name="propertyMapping">
            <map>
                <entry key="cmis:objectId" value="" />
                <entry key="cmis:name" value="" />
                <entry key="cmis:createdBy" value="" />
                <entry key="cmis:lastModifiedBy" value="" />
                <entry key="cmis:creationDate" value="" />
                <entry key="cmis:lastModificationDate" value="" />
                <entry key="cmis:changeToken" value="" />
                <entry key="cmis:baseTypeId" value="" />
                <entry key="cmis:objectTypeId" value="" />
                <entry key="cmis:path" value="" />
                <entry key="cmis:parentId" value="" />
                <entry key="cmis:allowedChildObjectTypeIds" value="" />
            </map>
        </property>
    </bean>

    <bean id="CmisLifecycleBean" class="org.jahia.modules.cmis.spring.CmisLifecycleBean">
        <property name="cmisServiceFactory" ref="CmisServiceFactory" />
        <property name="parameters">
            <map>
                <entry key="mount-path" value="/"/>
            </map>
        </property>
    </bean>

    <bean id="CmisServiceFactory" class="org.jahia.modules.cmis.spring.JahiaJcrServiceFactory">
        <property name="repository" ref="jackrabbit"/>
    </bean>

</beans>
