<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="cmisControllerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/cmis/atom/**">
                    <bean class="org.jahia.modules.cmis.spring.EmulatingServletWrappingController">
                        <property name="servletPart" value="/cmis/atom"/>
                        <property name="servletClass" value="org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet"/>
                        <property name="initParameters">
                            <props>
                                <prop key="callContextHandler">org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</prop>
                            </props>
                        </property>
                    </bean>
                </entry>
                <!-- Not yet functional as we need to find a way to replace the servlet context initializer and all WDSL loading.
                <entry key="/cmis/ws/**">
                    <bean class="org.jahia.modules.cmis.spring.EmulatingServletWrappingController">
                        <property name="servletPart" value="/cmis/ws"/>
                        <property name="servletClass" value="com.sun.xml.ws.transport.http.servlet.WSServlet"/>
                        <property name="initParameters">
                            <props>
                            </props>
                        </property>
                    </bean>
                </entry>
                -->
            </map>
        </property>
    </bean>

</beans>